.banner{
    height: 100%;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../assets/image/backgroundBanner.jpg');  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.c-home{
    z-index: 2;
    height: 60%;
    width: 65%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__info{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        height: 80%;
        width: 50%;
        ul{
            list-style: none;
            li{
                margin-top: 10px;
            }
            a{
                text-decoration: none;
                color: black;
                i{
                    margin-right:5px;
                    transition: 0.3s;
                }
            }
            a:hover{
                i{
                    color:$color-1st;
                }
            }
        }
        
        span{
            height: 30px;
            width: 100px;
            background: $color-1st;
            border-radius: 25px;
            border-bottom-left-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        &__social{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    height: 30px;
                    width: 30px;
                }
                a:hover{
                    i{
                        color:white;
                        background: $color-1st;
                    }
                }
            }
        }
    }
    &__logo{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 50%;
        &__img{
            height: 300px;
            width: 300px;
            //background: lighten($color-1st,5%);
            background: linear-gradient(to right, $color-1st,$color-2rd);
            border: solid white 2px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(45deg);
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid white 2px;
                height: 95%;
                width: 95%;
                border-radius: 50px;
                //background: $color-1st;
                background: linear-gradient(to right, $color-1st,$color-2rd);
                transform: rotate(-45deg);
                img{
                    height: 80%;
                }
            }
        }
    }
}

@media (max-width: 1100px){
    .c-home{
        width: 75%;
        &__info{
            align-items: center;
        }
        &__logo{
            justify-content: center;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@media (max-width: 900px){
    .c-home{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        &__info{
            width: 100%;
        }
    }
}

@media (max-width: 600px){
    .c-home{
        &__logo{
            &__img{
                height: 220px;
                width: 220px;
            }
        }
    }
}