.portfolio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, $color-1st, $color-2rd);
    transform: translateY(-200px);
}

.c-projects{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to right, $color-1st, $color-2rd);
    padding: 20px 0 20px 0;

    &__header{
        height: 100%;
        width: 25%;
        min-width: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 2;

        h1{
            color: white;
            font-size: 40px;
            margin-top: 30px;
        }

        ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            li{
                margin-top: 30px;
                color: white;
            }
        }
    }

    &__project{
        padding-bottom: 20px; 
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        background: white;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            width: 3px;
            height: calc(100% - 50px);
            background: $color-2rd;
        }
        
        .column {
            margin: 0 40px 0 40px;

            .title{
                h1 {
                    font-size: 80px;
                    color: rgba(0,0,0,0.1);
                    font-family: serif;
                    letter-spacing: 3px;

                    &:before{
                        content: "";
                        position: absolute;
                        left: 20px;
                        transform: translateY(25px);
                        width: 15px;
                        height: 10px;
                        background: #fff;
                        border: 3px solid $color-2rd;
                        border-bottom-right-radius: 15px;
                    } 
                }

                h2 {
                    margin-top: -40px;
                    font-size: 33px;
                }
            }
            .description {
                border-left: 1px solid #000;
                p {
                    font-size: 13px;
                    line-height: 20px;
                    margin-left: 20px;
                    margin-top: 10px;
                    color: $color-3rd;
                    text-align: justify;
                }
            }
        }
    }
}

@media (max-width: 900px){
    .c-projects{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__header{
            box-shadow: none;
            width: 100%;

            ul{
                width: 100%;
                justify-content: space-evenly;
                flex-direction: row;
                margin-bottom: 25px;
            }
        }

        &__project{
            width: 90%;
            border-radius: 25px;
            .column {
                margin: 0 40px 0 40px;
    
                .title{
                    h1 {
                        font-size: 50px;
                    }
                    h2{
                        font-size: 25px;
                    }
                }
            }   
        }
    }
}
