.portfolio{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: white;
    transform: translateY(-200px);
    box-shadow: 0 0 1px black;
}

.c-projects{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8C43FF;

    &__header{
        height: 100%;
        width: 30%;
        min-width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 0 0 0 black;
        z-index: 2;
        h1{
            color: white;
            font-size: 40px;
            margin-top: 30px;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            li{
                margin-top: 30px;
                color: white;
            }
        }
    }

    &__project{
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: white;
        box-shadow: 0 0 1px black;

        &__one{
            height: 200px;
            width: 400px;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}
@media (max-width: 1300px){
    .c-projects{
        &__project{
            width: 70%;
            &__one{
                height: 150px;
                width: 300px;
            }
        }
    }
}

@media (max-width: 1100px){
    
}
@media (max-width: 800px){
    .c-projects{
        flex-direction: column;
        &__header{
            box-shadow: none;
            width: 100%;
            margin-top: 100px;
            ul{
                width: 100%;
                justify-content: space-evenly;
                flex-direction: row;
                margin-bottom: 20px;
            }
        }
        &__project{
            border-radius: 25px;
        }
    }
}
