/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  //background: $color-1st; 
  background: $color-2rd;
  border-radius: 10px;
}