.skillset {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    min-height: 700px;
    transform: translateY(-200px);
}
.skillset:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../assets/image/backgroundProject.jpg');  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    transform: translateY(200px);
}

.c-skillset {
    height: 600px;
    width: 80%;
    background: white;
    border-radius: 25px;
    z-index: 2;
    box-shadow: 0 0 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__frontend,
    &__backend{
        border-right: solid rgba(0, 0, 0, .2) 0.5px;
    }

    &__skills{
        &__back{
            ul{
                li{
                    width: 75%;
                }
            }
        }
    }

    &__frontend,
    &__backend{
        &__back{
            ul{
                li{
                    width: 50%;
                }
            }
        }
    }
    &__frontend,
    &__backend,
    &__skills {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 33%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        cursor: pointer;

        &__front{
            position: absolute;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        &__back{
            position: absolute;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            transform: rotateY(180deg);
            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                list-style: none;
                width: 100%;
                height: 100%;

                li{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img{
                        margin-right: 20px;
                        height: 50px;
                    }
                }
            }
        }
    }

    &__main {
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        img {
            margin-top: 30px;
        }

        h3 {
            margin-top: 50px;
        }

        p {
            width: 75%;
            text-align: center;
            line-height: 24px;
            margin-top: 20px;
        }
    }

    &__flip {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            height: 150px;
            width: 150px;
            cursor: pointer;
        }

        .backendFlip, .frontendFlip, .skillsFlip{
            height: 50px;
            width: 150px;
            background: linear-gradient(to right, $color-1st, $color-2rd);
            border: none;
            border-radius: 20px;
            border-top-left-radius: 0;
            color: white;
            cursor: pointer;
            font-size: 20px;
            outline: none;
            transition: 0.3s;
            &:hover{
                color: $color-4th;
            }
        }
    }
}

.is-skill-icon {
    height: 50px;
    width: 50px;
}


@media (max-width: 1100px){
    .skillset {
        transform: translateY(-150px);
    }
    .skillset:before {
        transform: translateY(150px);
    }
}
@media (max-width: 900px){
    .skillset {
        transform: translateY(-150px);
        height: 1900px;
    }
    .skillset:before {
        transform: translateY(150px);
    }
    .c-skillset{
        flex-direction: column;
        height: 1800px;
        
        &__frontend,
        &__backend{
            border-right: none;
            border-bottom: solid rgba(0, 0, 0, .2) 0.5px;
        }

        &__frontend,&__backend,&__skills{
            width: 80%;
        }
    }
}



/////////////////-------------------------------------------
.progress{
    flex-direction: column;
    text-align: center;
    .progressbar{
        height: 27px;
        width: 100%;
        border-radius: 10px;
        border: solid black 1px;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
       
        &__pro{
            height: 26px;
            border-radius: 10px;
            background: $color-1st;        
            display: flex;
            justify-content: center;
            align-items: center;
            h6{
                color: white;
            }
        }
    }
}
