@mixin reset(){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
    }
    body,html{
        width: 100%;
        height: 100%;
        scroll-behavior: smooth;
    }
    body, html, h1, h3, h5{
        font-family: $font-secondary;
        color: $color-2rd;
    }
    li, p{
        font-family: $font-primary;
        color: $color-3rd;
    }
    a{
        font-family: $font-primary;
        color: $color-2rd;
    }
}